@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap");

:root {
  /* Primary */

  --dark-cyan: hsl(158, 36%, 37%);
  --cream: hsl(30, 38%, 92%);

  /* Neutral */

  --very-dark-blue: hsl(212, 21%, 14%);
  --dark-grayish-blue: hsl(228, 12%, 48%);
  --white: hsl(0, 0%, 100%);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: var(--cream);
}

.container {
  background-color: var(--white);
  border-radius: 1rem;
  max-width: 60rem;
  height: 45rem;
  margin: 17.2rem auto;
  background-image: url("./assets/images/image-product-desktop.jpg");
  background-position: left;
  background-repeat: no-repeat;
  background-size: 50%;
}

.container__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.container__text {
  grid-column: 2 / 3;
  padding: 3rem;
}
p {
  font-family: "Montserrat", sans-serif;
}
.container__text p:nth-child(1) {
  color: var(--dark-grayish-blue);
  font-size: 1.4rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}
.container__text p:nth-child(3) {
  color: var(--dark-grayish-blue);
  font-size: 1.4rem;
  line-height: 1.5;
  margin: 2.5rem 0 0 0;
}
.container__text--title {
  color: var(--very-dark-blue);
  font-family: "Fraunces", serif;
  font-size: 2.8rem;
  margin: 2rem 0 0 0;
}

.price ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 2.5rem 0 0 0;
}
li:nth-child(1) {
  color: var(--dark-cyan);
  font-family: "Fraunces", serif;
  font-size: 3rem;
  font-weight: 700;
}
li:nth-child(2) {
  color: var(--dark-grayish-blue);
  font-size: 1.5rem;
  text-decoration: line-through;
  margin: 1rem 0 0 2rem;
}
.btn {
  background-color: var(--dark-cyan);
  border: none;
  border-radius: 0.5rem;
  color: var(--white);
  font-family: "Montserrat", serif;
  font-weight: 700;
  padding: 1.5rem;
  width: 24rem;
  margin: 3rem 0 0 0;
}
